img, video, .wp-caption {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	height: auto !important;
}
audio {
	max-width: 100%;
}
.wp-embedded-content {
	max-width: 100%;
}
.builder-container-outer-wrapper {
	width: 100%;
}
#ie6 .builder-module-outer-wrapper,
#ie7 .builder-module-outer-wrapper,
#ie8 .builder-module-outer-wrapper {
	width: 1200px;
}
@media screen and (max-width: 1200px) {
	.builder-module-background-wrapper {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
}
@media screen and (max-width: 500px) {
	.builder-module-background-wrapper {
		padding-left: .75em;
		padding-right: .75em;
	}
}
#builder-module-581d08e49a381-outer-wrapper {
	max-width: 1200px;
	width: 100%;
}
#builder-module-581d08e49a381 .builder-module-column-1-outer-wrapper {
	width: 100%;
}
#builder-module-55881449a57e6-outer-wrapper {
	max-width: 1200px;
	width: 100%;
}
#builder-module-55881449a57e6 .builder-module-column-1-outer-wrapper {
	width: 100%;
}
#builder-module-556f1ab3cb7fe-outer-wrapper {
	max-width: 1200px;
	width: 100%;
}
#builder-module-556f1ab3cb7fe .builder-module-column-1-outer-wrapper {
	width: 100%;
}
#builder-module-5584176453533-outer-wrapper {
	max-width: 1200px;
	width: 100%;
}
#builder-module-5584176453533 .builder-module-column-1-outer-wrapper {
	width: 100%;
}
#builder-module-55847f304ca98-outer-wrapper {
	max-width: 1200px;
	width: 100%;
}
#builder-module-55847f304ca98 .builder-module-column-1-outer-wrapper {
	width: 100%;
}
#builder-module-555ce0bea2e2a-outer-wrapper {
	max-width: 1200px;
	width: 100%;
}
#builder-module-555ce0bea2e2a .builder-module-column-1-outer-wrapper {
	width: 100%;
}
